<!DOCTYPE html>
<html>
<head>
    <title>Address Details</title>
</head>
<body>
    <h1>Address</h1>
    <ul>
        {% for address in addresses %}
            <p><strong>Country:</strong> {{ address.country }}</p>
            <p><strong>State:</strong> {{ address.state }}</p>
            <p><strong>City:</strong> {{ address.city }}</p>
            <p><strong>Address Line 1:</strong> {{ address.line1 }}</p>
            {% if address.line2 %}
                <p><strong>Address Line 2:</strong> {{ address.line2 }}</p>
            {% endif %}
            <p><strong>Zipcode:</strong> {{ address.zipcode }}</p>
        {% endfor %}
    </ul>
    <a href="{% url 'rent_management:properties' %}"><button>View all properties</button></a>
    <a href="{% url 'rent_management:address-create' %}"><button>Add new address</button></a>

</body>
</html>
