<!DOCTYPE html>
<html>
<head>
    <title>Create Rental</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>Create Rental</h1>

    <form method="POST">
        {% csrf_token %} 

        {% for field in form %}  
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit">Create Rental</button>
    </form>

    <a href="{% url 'rent_management:properties' %}"><button>View Properties</button></a>
</body>
</html>
